@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-slate-400 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded cursor-pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
  --background-start: rgb(214, 219, 220);
  --background-end: rgb(255, 255, 255);
}

:root.dark {
  --foreground: white;
  --background: rgb(0, 0, 0);
  --background-start: rgb(0, 0, 0);
  --background-end: rgb(60, 70, 77);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--foreground);
  background: linear-gradient(
    to bottom,
    var(--background-start),
    var(--background-end)
  );
}