@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-slate-400 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded cursor-pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}
